.menu{
	position: absolute;
	top: 1px;
	left: 0px;
	width: 550px;
	height: 110%;
	z-index: 9999;
	opacity: 0.85;
  filter: alpha(opacity=85); /* For IE8 and earlier */
}
.menu-link, .menu-link:hover{
	color: white;
	text-decoration: none;
}
.inner-menu{
	padding-top: 80px;
	padding-left: 90px;
}
.inner-menu h2{
	padding-bottom: 20px;
	font-weight: bold;
}
.close-me{
	position: absolute;
	top: 1px;
	right: 0px;
	/*padding-right: 25px;*/
}
.menu-btn{
	position: absolute;
	top: 1px;
	left: 0px;
	width: 83px;
}
.font-opensans{
	font-family: 'Open Sans', sans-serif;
}
.font-opensanscondensed{
	font-family: 'Open Sans Condensed', sans-serif;
}
.font-sanchez{
	font-family: 'Sanchez', serif;
}
.img-logo{
	padding-top: 11px;
	width: 18%;
	min-width: 275px;
	padding-bottom: 15px;
}
/*.main-name{ font-family: MyriadPro-Regular; }*/
.header-bar p{
	padding-top: 15px;
  padding-bottom: 15px;
}
p.site.font-sanchez{
	font-size: 18px;
	padding-bottom: 15px;
}
p.site.font-opensanscondensed{
	font-size: 33px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	padding-top: 15px;
}
/*pic as background*/
.background-img{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/*** Row stuff ***/
/*picture*/
.wood{background-image: url("../img/background.jpg");}

.outside{background-image: url("../img/the-cadence-outside.jpeg");}
.clubhouse{background-image: url("../img/the-cadence-clubhouse.jpg");}
.pool{background-image: url("../img/the-cadence-pool.jpg");}
.unit{background-image: url("../img/the-cadence-unit.jpg");}
.bathroom{background-image: url("../img/the-cadence-bathroom.jpg");}

.woman-pool{background-image: url("../img/woman-pool.jpg");}
.band{background-image: url("../img/band.jpg");}
.yoga{background-image: url("../img/yoga.jpg");}
.coffee{background-image: url("../img/coffee.jpg");}
.laugh{background-image: url("../img/laugh.jpg");}

.siteplan{background-image: url("../img/siteplan.png");}
.floorplan{width: 100%;}

/*end pictures*/
/*row pad*/
.row-pad{padding-top: 10px;}
.row-pad-big{padding-top: 30px;}
.row-pad-bottom{padding-bottom: 20px;}
.no-left-padding{padding-left: 0px;}
/*height*/
.half-big{ height: 215px; }
.big{ height: 340px; overflow: hidden;}
.big-other{ height: 415px;}
.double-big{ height: 830px; }

/* colors box */
.brown{ background-color: #825d3b;}
.green{ background-color: #a0d9b3;}
.orange{ background-color: #c66c3c;}
.blue{ background-color: #6a86b8;}
.dark-blue{ background-color: #3d5d77;}
/*text colors*/
.brown-text{ color: #825d3b;}
.green-text{ color: #a0d9b3;}
.orange-text{ color: #c66c3c;}
.blue-text{ color: #6a86b8;}
.dark-blue-text{ color: #3d5d77;}
.white-text{color: white;}

.letter-spacing-100{ letter-spacing: 3px;}
.letter-spacing-50{ letter-spacing: 1.5px;}
.line-spacing-22{ line-height: 22pt;}
.base-font-size{font-size: 16px;}

.box-o-text{
  /*height: 350px;
  width: 350px;*/
  padding-top: 55px;
  padding-left: 50px;
	padding-right: 35px;
}
.box-o-text-other{
  padding-top: 55px;
  padding-left: 50px;
	padding-right: 60px;
}
.box-o-text h2{ margin-bottom: 23px; }
#map{
  display: block;
  width: 100%;
  height: 830px;
}
/*footer stuff*/
footer{height: 80px;}
footer p{ font-size: 14px;}
a.no-dec, a.no-dec:hover {text-decoration: none;}
.footer-pad{padding-top: 25px;}
.equal-op{width: 65px; padding-left: 5px; }

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .close-me{padding-right: 225px;}

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	.close-me{padding-right: 25px;}

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.big-horizontal{ width: 1735px; }
	.img-siteplan{
		width: 1735px;
		height: 1000px;
	}
}
