.font-opensans{
	font-family: 'Open Sans', sans-serif;
}
.font-opensanscondensed{
	font-family: 'Open Sans Condensed', sans-serif;
}
.font-sanchez{
	font-family: 'Sanchez', serif;
}
.img-logo{
	padding-top: 11px;
	width: 18%;
	padding-bottom: 15px;
}
/*.main-name{ font-family: MyriadPro-Regular; }*/
.header-bar p{
	padding-top: 15px;
  padding-bottom: 15px;
}

/*pic as background*/
.background-img{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/*** Row stuff ***/
/*picture*/
.wood{background-image: url("../img/background.jpg");}

.outside{background-image: url("../img/the-cadence-outside.jpeg");}
.clubhouse{background-image: url("../img/the-cadence-clubhouse.jpg");}
.pool{background-image: url("../img/the-cadence-pool.jpg");}
.unit{background-image: url("../img/the-cadence-unit.jpg");}
.bathroom{background-image: url("../img/the-cadence-bathroom.jpg");}

.woman-pool{background-image: url("../img/woman-pool.jpg");}
.band{background-image: url("../img/band.jpg");}
.yoga{background-image: url("../img/yoga.jpg");}
.coffee{background-image: url("../img/coffee.jpg");}
.laugh{background-image: url("../img/laugh.jpg");}
/*end pictures*/
/*row pad*/
.row-pad{padding-top: 10px;}
.row-pad-big{padding-top: 30px;}
.row-pad-bottom{padding-bottom: 20px;}
.no-left-padding{padding-left: 0px;}
/*height*/
.half-big{ height: 215px; }
.big{ height: 340px; overflow: hidden;}
.big-other{ height: 415px;}
.double-big{ height: 830px; }

/* colors box */
.brown{ background-color: #825d3b;}
.green{ background-color: #a0d9b3;}
.orange{ background-color: #c66c3c;}
.blue{ background-color: #6a86b8;}
.dark-blue{ background-color: #3d5d77;}
/*text colors*/
.brown-text{ color: #825d3b;}
.green-text{ color: #a0d9b3;}
.orange-text{ color: #c66c3c;}
.blue-text{ color: #6a86b8;}
.dark-blue-text{ color: #3d5d77;}
.white-text{color: white;}

.letter-spacing-100{ letter-spacing: 3px;}
.letter-spacing-50{ letter-spacing: 1.5px;}
.line-spacing-22{ line-height: 22pt;}
.base-font-size{font-size: 16px;}

.box-o-text{
  /*height: 350px;
  width: 350px;*/
  margin-top: 55px;
  margin-left: 50px;
	margin-right: 35px;
}
.box-o-text-other{
  margin-top: 55px;
  margin-left: 50px;
	margin-right: 60px;
}
.box-o-text h2{ margin-bottom: 23px; }
#map{
  display: block;
  width: 100%;
  height: 830px;
}
/*footer stuff*/
footer{ height: 80px; }
.footer-pad{padding-top: 25px;}
.equal-op{width: 65px; padding-left: 5px; }
