<footer>
  <p class="text-center footer-pad dark-blue-text font-sanchez letter-spacing-100">
    Developed by Phoenix Property Company · <a href="http://www.phoenixpropertyco.com" class="no-dec dark-blue-text" target="_blank">www.phoenixpropertyco.com</a>  <img src="img/equal.png" alt="Equal Housing Opportunity" class="equal-op" /><br>
    Facebook  -  https://www.facebook.com/TheCadenceNashville
Twitter  -  https://twitter.com/TheCadence_Apts
Instagram  -  https://www.instagram.com/TheCadence_Apts/
Pinterest  -  https://www.pinterest.com/thecadence0144/
  </p>
</footer>
