<footer>
  <p class="text-center footer-pad dark-blue-text font-sanchez letter-spacing-100">
    <a href="https://www.facebook.com/TheCadenceNashville"><i class="fa fa-facebook"></i></a> ·
    <a href="https://twitter.com/TheCadence_Apts"><i class="fa fa-twitter"></i></a> ·
    <a href="https://www.instagram.com/TheCadence_Apts/"><i class="fa fa-instagram"></i></a> ·
    <a href="https://www.pinterest.com/thecadence0144/"><i class="fa fa-pinterest"></i></a> ·
    <a href="#"><i class="fa fa-yelp"></i></a> ·
    <a href="#"><i class="fa fa-google"></i></a> ·
    <a href="#"><i class="fa fa-foursquare"></i></a>
    <br>
    Developed by Phoenix Property Company · <a href="http://www.phoenixpropertyco.com" class="no-dec dark-blue-text" target="_blank">www.phoenixpropertyco.com</a>  <img src="img/equal.png" alt="Equal Housing Opportunity" class="equal-op" /><br>
  </p>
</footer>
