<div id="menu-collapse" class="menu orange collapse">
  <a data-toggle="collapse" href="#menu-collapse"><h2 class="white-text font-opensans letter-spacing-100 close-me"><i class="fa fa-times fa-2x"></i></h2></a>
  <div class="inner-menu">
    <h2 class="white-text font-opensans letter-spacing-100"><a href="index.html" class="menu-link">HOME</a></h2>
    <h2 class="white-text font-opensans letter-spacing-100"><a href="live-relax-play.html" class="menu-link">LIVE, RELAX, PLAY</a></h2>
    <h2 class="white-text font-opensans letter-spacing-100">FIND A HOME</h2>
    <h2 class="white-text font-opensans letter-spacing-100"><a href="siteplan.html" class="menu-link">SITE PLAN</a></h2>
    <h2 class="white-text font-opensans letter-spacing-100"><a href="neighborhood.html" class="menu-link">NEIGHBORHOOD</a></h2>
    <h2 class="white-text font-opensans letter-spacing-100">CONTACT FORM</h2>
    <h2 class="white-text font-opensans letter-spacing-100"><a href="gallery.html" class="menu-link">GALLERY</a></h2>
    <h2 class="white-text font-opensans letter-spacing-100">RESIDENT PORTAL</h2>
  </div>
</div>
