<div id="menu-collapse" class="menu orange collapse">
  <a data-toggle="collapse" href="#menu-collapse"><h1 class="white-text font-opensans letter-spacing-100 close-me"><i class="fa fa-times fa-2x"></i></h1></a>
  <div class="inner-menu">
    <h1 class="white-text font-opensans letter-spacing-100"><a href="index.html" class="menu-link">HOME</a></h1>
    <h1 class="white-text font-opensans letter-spacing-100"><a href="live-relax-play.html" class="menu-link">LIVE, RELAX, PLAY</a></h1>
    <h1 class="white-text font-opensans letter-spacing-100">FIND A HOME</h1>
    <h1 class="white-text font-opensans letter-spacing-100">SITE PLAN</h1>
    <h1 class="white-text font-opensans letter-spacing-100"><a href="neighborhood.html" class="menu-link">NEIGHBORHOOD</a></h1>
    <h1 class="white-text font-opensans letter-spacing-100">CONTACT FORM</h1>
    <h1 class="white-text font-opensans letter-spacing-100"><a href="gallery.html" class="menu-link">GALLERY</a></h1>
    <h1 class="white-text font-opensans letter-spacing-100">RESIDENT PORTAL</h1>
  </div>
</div>
